body{
    background: white url("images/background.jpg") no-repeat;
    background-position:center;
    background-size: 20%;
    height: 500px;
    border-top: 10px solid #ccc;
}

li a{
    color:orange;
}

h1 {
    color:yellowgreen;
    font-family: 'Lobster', cursive;
}




